
<div id = "reorder_list">
<h3 class = "teal-text text-darken-2"> Reorder List</h3>


<% unless @items_to_reorder.nil? || @items_to_reorder.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="250">Name</th>
        <th width="125">Inventory</th>
        <th width="125">Reorder Level</th>
        <th width = "125"> Manufacturer Price </th>
        <th width='125'> </th>
      </tr>
    </thead>
    

    <tbody>
      <% @items_to_reorder.each do |item| %>
        <%= render partial: 'partials/reorder_order_item_row', locals: {item: item} %>
      <% end %>
    


    </tbody>
  </table>
<% else %>
  <p>There are no items that need to be reordered at this time.</p>
<% end %>

</div>
