
<div class = "container ">
<h5>Reorder List</h5>

<% unless @items_to_reorder.nil? || @items_to_reorder.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="250">Name</th>
        <th width="125">Inventory</th>
        <th width="125">Reorder Level</th>
        <th width='125'> Click to Reorder </th>
      </tr>
    </thead>
    <tbody>
      <% @items_to_reorder.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= item.inventory_level %></td>
          <td><%= item.reorder_level %></td>
          <td>
          <div class= "reorder_list" id = "reorder_list">
          <%= link_to(new_purchase_path(item_id: item.id), remote: true) do %> 
            Purchase
            <% end %> </div>
          </td>
          </div>
            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no items that need to be reordered at this time.</p>
<% end %>

</div>