<blockquote class = "card-panel main">


<% unless @active_customers.nil? || @active_customers.empty? %>
  <h2 class = "teal-text text-darken-2"> Active Customers </h2>
  <table class="bordered">
    <thead>
      <tr>
        <th width= "100">Username</th>
        <th width = "250">Name</th>
        
      </tr>
    </thead>
    <tbody>
      <% @active_users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user) %></td>
          <td> <%= user.name %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h5>There are no active customers in the system at this time.</h5>
<% end %>

</blockquote>