<blockquote class = "card-panel side">

<% unless @inactive_employees.nil? || @inactive_employees.empty? %>
  <h4 class = "brown-text text-darken-2"> Inactive Employees </h4>
  <table class="bordered">
    <thead>
      <tr>
        <th width="100">Username</th>
        <th width = "250">Name</th>
        <th> Role </th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_employees.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user) %></td>
          <td> <%= user.name %> </td>
          <td> <%= user.role %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h5>All employees are currently active.</h5>
<% end %>

</blockquote>