<blockquote class = "card-panel side"> 
<% unless @inactive_customers.nil? || @inactive_customers.empty? %>
  <h4 class = "brown-text text-darken-2"> Inactive Customers </h4>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
      </tr>
    </thead>
    
    <tbody>
      <% @inactive_customers.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user) %></td>
          <td> <%= user.name %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
  <h5>All customers are currently active.</h5>


<% end %>
</blockquote>

