 <table class="table">
                
  <thead>
    <tr>
      <th width="250">Item</th>
      <th width="125">Quantity</th>
    </tr>
   </thead>

     <tbody>
       <% order.order_items.each do |order_item| %>

          <tr>
            <td><%= link_to order_item.item.name, item_path(order_item.item) %></td>
            <td><%= order_item.quantity %></td>                 
          </tr>
          <%end %>
      </tbody>
    </table>