<div class = 'row col s12'>
<br/>
<br/>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#all-orders">All</a></li>
        <li class="tab col s3"><a class="active" href="#unshipped">Unshipped</a></li>
        <li class="tab col s3"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
   
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>

<div id="all-orders" class="col s12">
  <h4 class = "teal-text text-darken-2"> All My Orders</h4>
  <%= render :partial => 'partials/order_accordion_structure', locals: {orders: @orders} %>
</div>

<div id="unshipped" class="col s12">
  <h4 class = "teal-text text-darken-2">Unshipped Orders</h4>
  <% if @unshipped.nil? || @unshipped.empty? %>
    <h5> All your orders have shipped! </h5>
  <% else %>
    <%= render :partial => 'partials/order_accordion_structure', locals: {orders: @unshipped} %>
  <%end%>
</div>


        
</div>
