<blockquote class = "main card-panel">
<% if @active_items.empty? %>
  <h4>No items at this time.</h4>
<% else %>
  <h2 class = 'teal-text text-darken-2'>Current Item Prices</h2>
  <table class="bordered">
    <thead>
      <tr>
        <th width="225">Item</th>
        <th width="150">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @active_items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= item.current_price.nil? ? 'N/A' : number_to_currency(item.current_price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p>&nbsp;</p>
</blockquote>