<h2>
 <span class="teal-text text-darken-2"> Welcome to the Chess Warehouse</h2>
<br/>

	<div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "chess1.jpg" %><!-- random image -->
        <div class="caption left-align">
          <h3>Welcome to eChess!</h3>
          <h5 class="light grey-text text-lighten-3">The online stop for all things chess.</h5>
        </div>
      </li>
      <li>
        <%= image_tag "Chess.jpg" %><!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

<div class="row">
	<div class="small-7 columns">
		<p>
			Featured Items
		</p>
		<div class="col s12 m6">
		 <div class="card sticky-action">
    		<div class="card-image waves-effect waves-block waves-light">
      			<img class="activator" src="chess.jpg">
    		</div>
    		<div class="card-content">
     			 <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      			<p><a href="#">This is a link</a></p>
    	</div>
    	
    	<div class="card-reveal">
      	<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      	<p>Here is some more information about this product that is only revealed once clicked on.</p>
    	</div>
  	</div>
	</div>
	</div>
	
	<div class="small-1 columns">
		&nbsp;
	</div>
	<div class="small-4 columns">
		&nbsp;
	</div>
</div>


