<div class="parallax-container">
    <div class="parallax">
      <%=image_tag 'chess_strategy.jpeg' %>
    </div>
  </div>
  <div class="section white">
    <div class="row container ">
      <h1 class="header  teal-text text-darken-2">A&M Chess</h1>
      <h4 class="grey-text text-darken-3 lighten-3">Welcome to Alex and Mark's Chess Store!</h4>
        <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag "Chess.jpg", class: "activator"%>
            
        </div>
        <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
      </div>
      
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%=image_tag 'chess_strategy.jpeg'%></div>
  </div>

		<p>
			Featured Items
		</p>
		
    <div class="col s12 m6">

	</div>
	</div>
	

</div>

</div>

</div>



