<!-- create address as partial need to know where to ship things to -->


<div id="shipper-home" class="container">
<h3 class = "teal-text text-darken-3">Shipping List</h3>
  <ul class="collapsible popout" data-collapsible="accordion">

  <% unless @orders_to_ship.nil? || @orders_to_ship.empty?%>
    
    <% @orders_to_ship.each do |order| %>
      <li>
        <div class="collapsible-header"><i class="material-icons icon-teal">label_outline</i><b class = "left-align">Date: </b> <%=order.date.strftime("%b, %d %Y")%>

        <div class = "right-align"> <b>Address:</b>
        <%= render partial: 'partials/address_info', locals: {school: order.school} %></div>
        </div>

        <div class="collapsible-body">
          
          <span>
            
              <%= render partial: 'partials/ship_order', locals: {order: order} %>
             
           </span>
        
          </div>
        </li>
      
      <%end%>
    <%end%>
  
  </ul>
</div>