<% if logged_in? && current_user.role?(:shipper) %>


    <%= render partial: "partials/index_structure", locals: {model_name: "order", 
                                                         primary: "orders", 
                                                         secondary: nil,
                                                         sidebar: "orders"} %>

<% else %>
  <div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#all">All</a></li>
      <li class="tab col s3"><a href="#unshipped">Unshipped</a></li>
      
    </ul>
  </div>
  
  <div id="all" class="col s12">
    
    <h2 class = "teal-text text-darken-2">All Orders</h2>
    <%= render partial: "partials/order_accordion_structure", locals: {orders: @orders} %>
    <span class="smtext"><%= will_paginate @orders, renderer: MaterializePagination::Rails %></span>
  </div>
  
  <div id="unshipped" class="col s12">
    <h2 class = "teal-text text-darken-2"> Unshipped Orders </h2>
    <%= render partial: "partials/order_accordion_structure",locals: {orders: @unshipped_orders} %>

  </div>


  
</div>

  

<% end %>