
<div id="modal2" class="modal bottom-sheet outermost_cart">
    <div class="modal-content">
    <div id = 'container'>
      <div id= 'cart'>
        <%= render partial: 'items/cart_partial' %>
      </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn-flat left">Close</a>
    </div>
  </div>
</div>
