<% unless items.nil? || items.empty? %>
  <blockquote class = 'card-panel side'>
  <h4 class = 'brown-text text-darken-2'><%= item_type.capitalize %></h5>
  <table class="table bordered">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th width="100">Price</th>
        <th width="100">Inventory</th>
      </tr>
    </thead>
    <tbody>
      <% items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= number_to_currency item.current_price %></td>
          <td><%= item.inventory_level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
   </blockquote>
<% end %>