
<blockquote class = "card-panel side">
<% unless @inactive_items.empty? %>
  <div class="panel clearfix">
    <h4 class = "brown-text text-darken-2">Inactive Items</h4>
    <ul>
      <% @inactive_items.each do |item| %>
        <li><%= link_to item.name, item_path(item) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</blockquote>