<% unless @similar_items.empty? %>
  <div>
    <h4 class = 'brown-text'>Similar Items</h4>
    <ul>
      <% @similar_items.each do |item| %>
        <li><%= link_to item.name, item_path(item) %></li>
      <% end %>
    </ul>
  </div>
<% end %>