

    <% if @boards.empty? %>
  
        <h3>There are no boards in the system at this time</h3>
    <% else %>

        <%= render partial: "current_items1", locals: {items: @boards, item_type: "boards"} %>


    <% end %>

