<% unless @active_schools.nil? || @active_schools.empty? %>
  <h3 class = "teal-text text-darken-2"> Active Schools </h3>
  <table class="highlight">
    <thead>
      <tr>
        <th width="500">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @active_schools.each do |school| %>
        <tr>
          <td><%= link_to school.name, school_path(school) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>