<div class="row">
  <div class="col s8">


    <%= render :partial => "active_schools" %>
  </div>



 
  <div class="col s4">

    
    <%= render :partial => "partials/toolbox", locals: {model_name: "school", object: @school} %>
    
    <%= render :partial => "inactive_schools" %>

    

   



    

  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->


