/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 
 */




@import 'materialize';



table.bordered thead {
    border-bottom: 1px solid #8d6e63 !important;
}

table.bordered tr {
    border-bottom: 1px solid #8d6e63 !important;
}


.outermost_cart {
    background-color: #6d4c41;
}

#outer_cart {
    padding: 15px;
    background-color: #FFFFFF;
}

.divider {
    height: 2px !important;
    background-color: #bcaaa4 !important;
}

.card-image {
    height: 300px;
}

.card-content {
    height: 300px;

}

.card{
    height: 300px;
}

.card-image img {
    height: 300px;
}


blockquote.side {
    border-left: 5px solid #795548 !important;
}

blockquote.main {
    border-left: 8px solid #00796b  !important;
}



.container {
    width: 80% !important;
}

ul.tabs {
    line-height: 0 !important;
    font-family: 'Gafata', sans-serif !important;
}

h1 {
    font-family: 'Arima Madurai', cursive;
}

h2 {
    font-family: 'Belleza', cursive;
}

h3 {
    font-family: 'Belleza', sans-serif;
}

h4 {
    font-family: 'Belleza', sans-serif;
}

h5 {
    font-family: 'Belleza', sans-serif;
}

h6 {
    font-family: 'Belleza', sans-serif;
    font-size: 125%;
}





#dropdown2{
    top: inherit !important;
}


.pagination a li.active { 
    color: #fff;
    background-color: #00bfa5; }



div.parallax-container {
    height: 500px;
    }

i.icon-teal {
    color: #00bfa5;
}

i.icon-blue{
    color: #40c4ff !important;
}

#create-school {
    display: none;
}


.tabs .indicator {
    background-color: #795548 !important;
}

.tabs .tab a{
    color: #795548 !important;
}